Repository wasimrehman05/superdoc: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, format, lint, cli-build, cli-test, vscode-build, vscode-lint, docs-check-imports, docs-test-examples

typecheck:
  run: pnpm run type-check

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

cli-build:
  run: pnpm run build

cli-test:
  run: pnpm run test

vscode-build:
  run: pnpm run build

vscode-lint:
  run: pnpm run lint

docs-check-imports:
  run: pnpm run check:imports

docs-test-examples:
  run: pnpm run test:examples

fix(super-editor): handle partial comment file-sets and clean up stale parts on export (#2123)
  packages/super-editor/src/core/DocxZipper.js
  packages/super-editor/src/core/DocxZipper.test.js
  packages/super-editor/src/core/Editor.ts
  packages/super-editor/src/core/super-converter/SuperConverter.js
  packages/super-editor/src/core/super-converter/SuperConverter.test.js
  packages/super-editor/src/core/super-converter/constants.js
  packages/super-editor/src/core/super-converter/exporter-docx-defs.js
  packages/super-editor/src/core/super-converter/v2/exporter/commentsExporter.js
  packages/super-editor/src/core/super-converter/v2/exporter/commentsExporter.test.js
  packages/super-editor/src/extensions/collaboration/collaboration-helpers.js
  packages/super-editor/src/extensions/collaboration/collaboration.test.js
  packages/super-editor/src/tests/data/gdocs-single-comment.docx
  packages/super-editor/src/tests/data/nested-comments-gdocs.docx
  packages/super-editor/src/tests/export/commentThreadingProfile.test.js
Due: typecheck, format, lint

fix(painter-dom): use absolute page Y for page-relative anchors in header/footer decorations
  packages/layout-engine/painters/dom/src/index.test.ts
  packages/layout-engine/painters/dom/src/renderer.ts
Due: typecheck, format, lint

fix(context-menu): paste via context menu inserts at wrong position (SD-1302) (#2110)
  packages/super-editor/src/components/context-menu/menuItems.js
  packages/super-editor/src/components/context-menu/tests/menuItems.test.js
  tests/behavior/tests/slash-menu/paste.spec.ts
Due: typecheck, format, lint

feat: implemented signer field type [template builder] (#2103)
  apps/docs/scripts/validate-code-imports.ts
  apps/docs/solutions/template-builder/api-reference.mdx
  apps/docs/solutions/template-builder/configuration.mdx
  apps/docs/solutions/template-builder/introduction.mdx
  apps/docs/solutions/template-builder/quickstart.mdx
  eslint.config.mjs
  packages/template-builder/README.md
  packages/template-builder/demo/src/App.css
  packages/template-builder/demo/src/App.tsx
  packages/template-builder/package.json
  packages/template-builder/src/defaults/FieldList.tsx
  packages/template-builder/src/defaults/FieldMenu.tsx
  packages/template-builder/src/defaults/InfoTooltip.tsx
  packages/template-builder/src/index.tsx
  packages/template-builder/src/styles/field-types.css
  packages/template-builder/src/tests/FieldList.test.tsx
  packages/template-builder/src/tests/FieldMenu.test.tsx
  packages/template-builder/src/tests/InfoTooltip.test.tsx
  packages/template-builder/src/tests/setup.ts
  packages/template-builder/src/tests/utils.test.ts
  packages/template-builder/src/types.ts
  packages/template-builder/src/utils.ts
  packages/template-builder/vite.config.ts
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

feat: add support for PDF [eSign] (#2111)
  apps/docs/solutions/esign/configuration.mdx
  packages/esign/demo/package.json
  packages/esign/demo/src/App.css
  packages/esign/demo/src/App.tsx
  packages/esign/demo/src/DocxTab.tsx
  packages/esign/demo/src/PdfTab.tsx
  packages/esign/demo/src/TabHeader.tsx
  packages/esign/src/__tests__/SuperDocESign.test.tsx
  packages/esign/src/index.tsx
  packages/esign/src/test/setup.ts
  packages/esign/src/types.ts
  pnpm-lock.yaml
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

chore: remove toolbar dead code (#2126)
  packages/super-editor/src/components/toolbar/ToggleSlider.test.js
  packages/super-editor/src/components/toolbar/ToggleSlider.vue
Due: typecheck, format, lint

fix(document-api): add friendlier insert at node id with offset, or pos (#2128)
  apps/cli/src/__tests__/cli.test.ts
  apps/docs/document-api/reference/_generated-manifest.json
  apps/docs/document-api/reference/insert.mdx
  packages/document-api/generated/agent/compatibility-hints.json
  packages/document-api/generated/agent/remediation-map.json
  packages/document-api/generated/agent/workflow-playbooks.json
  packages/document-api/generated/manifests/document-api-tools.json
  packages/document-api/generated/schemas/document-api-contract.json
  packages/document-api/src/README.md
  packages/document-api/src/contract/contract.test.ts
  packages/document-api/src/contract/operation-definitions.ts
  packages/document-api/src/contract/schemas.ts
  packages/document-api/src/errors.ts
  packages/document-api/src/index.test.ts
  packages/document-api/src/index.ts
  packages/document-api/src/insert/insert.ts
  packages/document-api/src/write/locator.ts
  packages/document-api/src/write/write.ts
  packages/super-editor/src/document-api-adapters/write-adapter.test.ts
  packages/super-editor/src/document-api-adapters/write-adapter.ts
Due: typecheck, format, lint, cli-build, cli-test, docs-check-imports, docs-test-examples

chore: fix sdk release dry run
  .github/workflows/release-sdk.yml
Due: none

chore: fix python relase dry run
  .github/workflows/release-sdk.yml
Due: none

chore: fix node sdk release
  .github/workflows/release-sdk.yml
Due: none

chore: add README to python sdk
  packages/sdk/langs/python/README.md
  packages/sdk/langs/python/pyproject.toml
Due: none

chore: fix python bundle
  .github/workflows/release-sdk.yml
  apps/cli/scripts/export-sdk-contract.ts
  packages/sdk/langs/python/README.md
  packages/sdk/langs/python/superdoc/embedded_cli.py
  packages/sdk/scripts/sdk-release.mjs
  packages/sdk/scripts/stage-python-embedded-cli.mjs
Due: typecheck, format, lint, cli-build, cli-test

docs: update eSign and template builder configuration to clarify license key usage (#2130)
  apps/docs/solutions/esign/configuration.mdx
  apps/docs/solutions/template-builder/configuration.mdx
Due: docs-check-imports, docs-test-examples

chore: split Python SDK into per-platform companion packages (#2136)
  .github/workflows/release-sdk.yml
  .gitignore
  packages/sdk/langs/python/README.md
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-arm64/README.md
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-arm64/pyproject.toml
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-arm64/superdoc_sdk_cli_darwin_arm64/__init__.py
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-arm64/superdoc_sdk_cli_darwin_arm64/bin/.gitignore
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-arm64/superdoc_sdk_cli_darwin_arm64/bin/.gitkeep
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-x64/README.md
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-x64/pyproject.toml
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-x64/superdoc_sdk_cli_darwin_x64/__init__.py
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-x64/superdoc_sdk_cli_darwin_x64/bin/.gitignore
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-darwin-x64/superdoc_sdk_cli_darwin_x64/bin/.gitkeep
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-arm64/README.md
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-arm64/pyproject.toml
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-arm64/superdoc_sdk_cli_linux_arm64/__init__.py
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-arm64/superdoc_sdk_cli_linux_arm64/bin/.gitignore
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-arm64/superdoc_sdk_cli_linux_arm64/bin/.gitkeep
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-x64/README.md
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-x64/pyproject.toml
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-x64/superdoc_sdk_cli_linux_x64/__init__.py
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-x64/superdoc_sdk_cli_linux_x64/bin/.gitignore
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-linux-x64/superdoc_sdk_cli_linux_x64/bin/.gitkeep
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-windows-x64/README.md
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-windows-x64/pyproject.toml
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-windows-x64/superdoc_sdk_cli_windows_x64/__init__.py
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-windows-x64/superdoc_sdk_cli_windows_x64/bin/.gitignore
  packages/sdk/langs/python/platforms/superdoc-sdk-cli-windows-x64/superdoc_sdk_cli_windows_x64/bin/.gitkeep
  packages/sdk/langs/python/pyproject.toml
  packages/sdk/langs/python/superdoc/embedded_cli.py
  packages/sdk/scripts/__tests__/python-embedded-cli.test.mjs
  packages/sdk/scripts/build-python-companion-wheels.mjs
  packages/sdk/scripts/python-embedded-cli-targets.mjs
  packages/sdk/scripts/sdk-release.mjs
  packages/sdk/scripts/stage-python-companion-cli.mjs
  packages/sdk/scripts/stage-python-embedded-cli.mjs
  packages/sdk/scripts/sync-sdk-version.mjs
  packages/sdk/scripts/verify-python-companion-wheels.mjs
  packages/sdk/scripts/verify-python-wheel-embedded-cli.mjs
Due: none

chore: fix release-sdk
  .github/workflows/release-sdk.yml
Due: none

chore: add linux x64 release
  .github/workflows/release-sdk.yml
Due: none

chore: add linux-arm64
  .github/workflows/release-sdk.yml
Due: none

chore: re-add node
  .github/workflows/release-sdk.yml
Due: none

chore: fix sdk and cli docs
  apps/cli/README.md
  apps/docs/document-engine/cli.mdx
  packages/sdk/langs/node/README.md
  packages/sdk/langs/python/README.md
Due: docs-check-imports, docs-test-examples

feat(mcp): superdoc mcp server (#2138)
  .github/workflows/ci-mcp.yml
  .github/workflows/release-mcp.yml
  apps/docs/docs.json
  apps/docs/document-engine/mcp.mdx
  apps/docs/document-engine/overview.mdx
  apps/mcp/.releaserc.cjs
  apps/mcp/README.md
  apps/mcp/package.json
  apps/mcp/src/__tests__/protocol.test.ts
  apps/mcp/src/__tests__/session-manager.test.ts
  apps/mcp/src/__tests__/tools.test.ts
  apps/mcp/src/index.ts
  apps/mcp/src/session-manager.ts
  apps/mcp/src/tools/comments.ts
  apps/mcp/src/tools/create.ts
  apps/mcp/src/tools/format.ts
  apps/mcp/src/tools/index.ts
  apps/mcp/src/tools/lifecycle.ts
  apps/mcp/src/tools/lists.ts
  apps/mcp/src/tools/mutation.ts
  apps/mcp/src/tools/query.ts
  apps/mcp/src/tools/track-changes.ts
  apps/mcp/tsconfig.json
  pnpm-lock.yaml
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

feat(mcp): superdoc mcp server (#2138)
  .github/workflows/ci-mcp.yml
  .github/workflows/release-mcp.yml
  apps/docs/docs.json
  apps/docs/document-engine/mcp.mdx
  apps/mcp/.releaserc.cjs
  apps/mcp/README.md
  apps/mcp/package.json
  apps/mcp/src/__tests__/protocol.test.ts
  apps/mcp/src/__tests__/session-manager.test.ts
  apps/mcp/src/__tests__/tools.test.ts
  apps/mcp/src/index.ts
  apps/mcp/src/session-manager.ts
  apps/mcp/src/tools/comments.ts
  apps/mcp/src/tools/create.ts
  apps/mcp/src/tools/format.ts
  apps/mcp/src/tools/index.ts
  apps/mcp/src/tools/lifecycle.ts
  apps/mcp/src/tools/lists.ts
  apps/mcp/src/tools/mutation.ts
  apps/mcp/src/tools/query.ts
  apps/mcp/src/tools/track-changes.ts
  apps/mcp/tsconfig.json
  pnpm-lock.yaml
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

fix(mcp): correct hardcoded server version
  apps/mcp/src/index.ts
Due: typecheck, format, lint

chore(mcp): 1.0.0 [skip ci]
  apps/mcp/package.json
Due: format

fix(mcp): remove unverified client from README
  apps/mcp/README.md
Due: none

chore(mcp): 0.1.0 [skip ci]
  apps/mcp/package.json
Due: format

fix: resolve sdk/adapter composability issues
  apps/cli/src/__tests__/lib/create-paragraph-input.test.ts
  apps/cli/src/__tests__/lib/find-query.test.ts
  apps/cli/src/__tests__/lib/validate.test.ts
  apps/cli/src/cli/operation-params.ts
  apps/cli/src/lib/create-paragraph-input.ts
  apps/cli/src/lib/find-query.ts
  apps/cli/src/lib/validate.ts
  packages/document-api/src/find/find.test.ts
  packages/document-api/src/find/find.ts
  packages/sdk/langs/python/superdoc/runtime.py
  packages/sdk/langs/python/tests/test_parse_envelope.py
  packages/super-editor/src/document-api-adapters/create-adapter.test.ts
  packages/super-editor/src/document-api-adapters/create-adapter.ts
  packages/super-editor/src/document-api-adapters/get-node-adapter.ts
  packages/super-editor/src/document-api-adapters/helpers/node-address-resolver.test.ts
  packages/super-editor/src/document-api-adapters/helpers/node-address-resolver.ts
Due: typecheck, format, lint, cli-build, cli-test

fix(mcp): docx skill instructions
  apps/mcp/src/index.ts
Due: typecheck, format, lint

fix(mcp): read version from package.json dynamically
  apps/mcp/src/index.ts
Due: typecheck, format, lint

chore(mcp): 0.1.1 [skip ci]
  apps/mcp/package.json
Due: format

docs: add getZoom, setZoom, and zoomChange documentation
  apps/docs/core/superdoc/events.mdx
  apps/docs/core/superdoc/methods.mdx
Due: docs-check-imports, docs-test-examples

fix: correctly set color and highlight of pasted text (#2033)
  packages/super-editor/src/core/utilities/cssColorToHex.js
  packages/super-editor/src/core/utilities/index.js
  packages/super-editor/src/core/utilities/tests/utilities.test.js
  packages/super-editor/src/extensions/color/color.js
  packages/super-editor/src/extensions/highlight/highlight.js
  tests/visual/tests/behavior/formatting/paste-color-and-highlight.spec.ts
Due: typecheck, format, lint

fix(ci): use author_association instead of collaborator API for contributor check
  .github/workflows/update-contributors.yml
Due: none

chore: fix cli release
  apps/cli/package.json
  apps/cli/platforms/cli-darwin-arm64/package.json
  apps/cli/platforms/cli-darwin-x64/package.json
  apps/cli/platforms/cli-linux-arm64/package.json
  apps/cli/platforms/cli-linux-x64/package.json
  apps/cli/platforms/cli-windows-x64/package.json
  packages/super-editor/src/tests/css-scoping-regressions.test.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

fix(doc-api): stabilize create composability and expand SDK surface
  apps/cli/scripts/export-sdk-contract.ts
  apps/cli/src/__tests__/conformance/scenarios.ts
  apps/cli/src/cli/operation-hints.ts
  apps/cli/src/cli/operation-params.ts
  apps/cli/src/cli/operation-set.ts
  apps/cli/src/lib/invoke-input.ts
  packages/sdk/codegen/src/generate-node.mjs
  packages/sdk/langs/node/src/runtime/host.ts
  packages/sdk/langs/node/src/runtime/process.ts
  packages/super-editor/src/core/commands/insertHeadingAt.js
  packages/super-editor/src/core/commands/insertParagraphAt.js
  packages/super-editor/src/core/helpers/generateDocxRandomId.js
  packages/super-editor/src/core/helpers/generateDocxRandomId.test.js
  packages/super-editor/src/core/super-converter/v2/exporter/commentsExporter.js
  packages/super-editor/src/document-api-adapters/create-adapter.test.ts
  packages/super-editor/src/document-api-adapters/create-adapter.ts
  packages/super-editor/src/document-api-adapters/find/common.ts
  packages/super-editor/src/document-api-adapters/helpers/node-address-resolver.test.ts
  packages/super-editor/src/document-api-adapters/helpers/node-address-resolver.ts
Due: typecheck, format, lint, cli-build, cli-test

chore: error tolerance on layout:compare
  tests/layout-snapshots/compare-layout-snapshots.mjs
  tests/layout-snapshots/compare-layout-snapshots.test.mjs
  tests/layout-snapshots/export-layout-snapshots.mjs
Due: none

Path conditions:
  typecheck: any of: *.{ts,tsx,vue}
  format: any of: *.{js,jsx,ts,tsx,css,scss,json,vue}
  lint: any of: *.{js,jsx,ts,tsx}
  cli-build: any of: apps/cli/**/*.ts and ^apps/cli/
  cli-test: any of: apps/cli/**/*.ts and ^apps/cli/
  vscode-build: any of: apps/vscode-ext/**/*.{ts,js} and ^apps/vscode\-ext/
  vscode-lint: any of: apps/vscode-ext/**/*.{ts,js} and ^apps/vscode\-ext/
  docs-check-imports: any of: apps/docs/**/*.mdx and ^apps/docs/
  docs-test-examples: any of: apps/docs/**/*.mdx and ^apps/docs/
