Repository wasimrehman05/superdoc: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, format, lint, cli-build, cli-test, vscode-build, vscode-lint, docs-check-imports, docs-test-examples, docapi-overview-sync

typecheck:
  run: pnpm run type-check

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec eslint --fix --no-warn-ignored {staged_files}
  stage_fixed: true

cli-build:
  run: pnpm run build

cli-test:
  run: pnpm run test

vscode-build:
  run: pnpm run build

vscode-lint:
  run: pnpm run lint

docs-check-imports:
  run: pnpm run check:imports

docs-test-examples:
  run: pnpm run test:examples

docapi-overview-sync:
  run: pnpm run docapi:sync && git add apps/docs/document-api/reference apps/docs/document-api/overview.mdx

chore(release): 1.16.0 [skip ci]
  packages/superdoc/CHANGELOG.md
  packages/superdoc/package.json
Due: format

fix(css): scope ProseMirror CSS to prevent bleeding into host apps (SD-1850) (#2134)
  packages/layout-engine/painters/dom/src/index.test.ts
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/layout-engine/painters/dom/src/styles.ts
  packages/super-editor/src/assets/styles/elements/ai.css
  packages/super-editor/src/assets/styles/elements/page-number.css
  packages/super-editor/src/assets/styles/elements/prosemirror.css
  packages/super-editor/src/assets/styles/extensions/document-section.css
  packages/super-editor/src/assets/styles/extensions/noderesizer.css
  packages/super-editor/src/assets/styles/extensions/structured-content.css
  packages/super-editor/src/assets/styles/layout/global.css
  packages/super-editor/src/tests/css-no-bleed.test.js
  packages/super-editor/src/tests/css-scoping-regressions.test.js
Due: typecheck, format, lint

chore: disable auto-open in superdoc dev
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: typecheck, format

fix(docs): remove wrong tag usage
  apps/docs/docs.json
Due: format

fix: track changes in cli
  .gitignore
  apps/cli/src/lib/invoke-input.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/doc-api-stories/.gitignore
  tests/doc-api-stories/package.json
  tests/doc-api-stories/tests/ex1-clause-change.ts
  tests/doc-api-stories/tests/harness.ts
  tests/doc-api-stories/vitest.config.ts
Due: typecheck, format, lint, cli-build, cli-test

chore: add doc api formatting test
  package.json
  tests/doc-api-stories/package.json
  tests/doc-api-stories/tests/formatting/general-formatting.ts
  tests/doc-api-stories/tests/harness.ts
  tests/doc-api-stories/vitest.config.ts
Due: typecheck, format, lint

perf(comments): batch tracked change comment creation on load (#2166)
  packages/super-editor/src/extensions/comment/comments-plugin.js
  packages/super-editor/src/index.js
  packages/superdoc/src/helpers/group-changes.js
  packages/superdoc/src/stores/comments-store.js
  packages/superdoc/src/stores/comments-store.test.js
  packages/superdoc/src/tests/helpers/group-changes.test.js
Due: format, lint

bug: list items are cut off on left edge inside table (SD-1836) (#1996)
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/layout-engine/painters/dom/src/table/renderTableCell.test.ts
  packages/layout-engine/painters/dom/src/table/renderTableCell.ts
  packages/layout-engine/painters/dom/src/utils/marker-helpers.ts
  packages/super-editor/src/tests/css-no-bleed.test.js
Due: typecheck, format, lint

feat: allow custom accept/reject handlers for TC bubbles (#1921)
  apps/docs/core/superdoc/configuration.mdx
  packages/superdoc/src/components/CommentsLayer/CommentDialog.test.js
  packages/superdoc/src/components/CommentsLayer/CommentDialog.vue
  packages/superdoc/src/core/SuperDoc.js
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

fix: undo/redo actions (#2161)
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  tests/behavior/tests/basic-commands/undo-redo.spec.ts
Due: typecheck, format, lint

fix(tables): expand auto-width tables to fill available page width (#2109)
  packages/layout-engine/measuring/dom/src/index.test.ts
  packages/layout-engine/measuring/dom/src/index.ts
  packages/super-editor/src/core/super-converter/helpers/tableFallbackHelpers.js
  packages/super-editor/src/core/super-converter/v3/handlers/w/tbl/tbl-translator.js
  packages/super-editor/src/core/super-converter/v3/handlers/w/tbl/tbl-translator.test.js
  packages/super-editor/src/tests/helpers/tableFallbackHelpers.test.js
Due: typecheck, format, lint

fix: active track change (#2163)
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/layout-engine/painters/dom/src/styles.ts
Due: typecheck, format, lint

chore: add sdk and cli cicd
  .github/workflows/release-cli-sdk.yml
  .github/workflows/release-sdk.yml
  apps/cli/.releaserc.cjs
  apps/cli/src/cli/operation-params.ts
  apps/docs/document-api/reference/_generated-manifest.json
  apps/docs/document-api/reference/mutations/apply.mdx
  package.json
  packages/document-api/src/contract/schemas.ts
  packages/sdk/.releaserc.cjs
  packages/sdk/langs/node/package.json
  packages/sdk/langs/node/platforms/sdk-darwin-arm64/package.json
  packages/sdk/langs/node/platforms/sdk-darwin-x64/package.json
  packages/sdk/langs/node/platforms/sdk-linux-arm64/package.json
  packages/sdk/langs/node/platforms/sdk-linux-x64/package.json
  packages/sdk/langs/node/platforms/sdk-windows-x64/package.json
  packages/sdk/scripts/__tests__/python-embedded-cli.test.mjs
  packages/sdk/scripts/publish-node-sdk.mjs
  packages/sdk/scripts/sdk-release-publish.mjs
  packages/sdk/scripts/sdk-validate.mjs
  packages/sdk/scripts/stage-node-sdk-platform-cli.mjs
  packages/sdk/scripts/sync-sdk-version.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/semantic-release/patch-commit-filter.cjs
Due: typecheck, format, lint, cli-build, cli-test, docs-check-imports, docs-test-examples, docapi-overview-sync

perf(comments): batch tracked change creation and virtualize floating bubbles (SD-1997) (#2168)
  eslint.config.mjs
  packages/superdoc/src/SuperDoc.vue
  packages/superdoc/src/components/CommentsLayer/FloatingComments.vue
  packages/superdoc/src/stores/comments-store.js
  pnpm-lock.yaml
  tests/behavior/tests/comments/basic-comment-insertion.spec.ts
  tests/behavior/tests/comments/edit-comment-text.spec.ts
  tests/behavior/tests/comments/floating-comments-virtualization.spec.ts
  tests/behavior/tests/comments/tracked-change-replacement-bubble.spec.ts
Due: typecheck, format, lint

chore: use workspace-linked platform deps and ignore python platform egg-info for sdk
  .gitignore
  packages/sdk/langs/node/package.json
  packages/sdk/scripts/sync-sdk-version.mjs
  pnpm-lock.yaml
Due: format

chore: fix behavior tests to use new doc api shape
  tests/behavior/fixtures/superdoc.ts
  tests/behavior/helpers/document-api.ts
  tests/behavior/helpers/table.ts
  tests/behavior/tests/comments/comment-on-tracked-change.spec.ts
  tests/behavior/tests/comments/nested-comments.spec.ts
  tests/behavior/tests/comments/tracked-change-existing-doc.spec.ts
Due: typecheck, format, lint

fix: normalize review namespace into trackChanges, harden input validation
  apps/docs/document-api/reference/_generated-manifest.json
  apps/docs/document-api/reference/comments/patch.mdx
  apps/docs/document-api/reference/track-changes/decide.mdx
  apps/docs/document-engine/cli.mdx
  apps/docs/document-engine/sdks.mdx
  apps/mcp/src/tools/comments.ts
  apps/mcp/src/tools/track-changes.ts
  packages/document-api/scripts/lib/contract-output-artifacts.ts
  packages/document-api/src/README.md
  packages/document-api/src/comments/comments.ts
  packages/document-api/src/contract/operation-definitions.ts
  packages/document-api/src/index.test.ts
  packages/document-api/src/track-changes/track-changes.ts
  packages/sdk/langs/node/README.md
  packages/sdk/langs/python/README.md
  packages/super-editor/src/document-api-adapters/capabilities-adapter.test.ts
  tests/behavior/helpers/document-api.ts
  tests/behavior/helpers/tracked-changes.ts
  tests/behavior/tests/helpers/tracked-changes.spec.ts
Due: typecheck, format, lint, docs-check-imports, docs-test-examples, docapi-overview-sync

fix(layout): per-section footer constraints for multi-section docs (SD-1837) (#2022)
  packages/layout-engine/contracts/src/index.ts
  packages/layout-engine/layout-bridge/src/incrementalLayout.ts
  packages/layout-engine/painters/dom/src/table/renderTableCell.ts
  packages/layout-engine/pm-adapter/src/sections/analysis.test.ts
  packages/layout-engine/pm-adapter/src/sections/analysis.ts
  packages/super-editor/src/assets/styles/elements/prosemirror.css
  packages/super-editor/src/core/header-footer/EditorOverlayManager.ts
  packages/super-editor/src/core/header-footer/HeaderFooterPerRidLayout.ts
  packages/super-editor/src/core/header-footer/HeaderFooterRegistry.ts
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  packages/super-editor/src/core/presentation-editor/dom/PointerNormalization.test.ts
  packages/super-editor/src/core/presentation-editor/dom/PointerNormalization.ts
  packages/super-editor/src/core/presentation-editor/header-footer/HeaderFooterSessionManager.ts
  packages/super-editor/src/core/presentation-editor/pointer-events/EditorInputManager.ts
  packages/super-editor/src/core/presentation-editor/types.ts
  packages/super-editor/src/core/super-converter/field-references/preProcessPageFieldsOnly.js
  packages/super-editor/src/core/super-converter/field-references/preProcessPageFieldsOnly.test.js
  packages/super-editor/src/extensions/page-number/page-number.js
  packages/super-editor/src/extensions/page-number/page-number.test.js
  packages/super-editor/src/extensions/pagination/pagination-helpers.js
Due: typecheck, format, lint

feat(document-api): include anchored text in comments list response (#2177)
  apps/docs/document-api/reference/_generated-manifest.json
  apps/docs/document-api/reference/comments/get.mdx
  apps/docs/document-api/reference/comments/list.mdx
  packages/document-api/src/comments/comments.types.ts
  packages/document-api/src/contract/schemas.ts
  packages/document-api/src/types/address.ts
  packages/super-editor/src/document-api-adapters/capabilities-adapter.test.ts
  packages/super-editor/src/document-api-adapters/helpers/comment-entity-store.test.ts
  packages/super-editor/src/document-api-adapters/helpers/comment-entity-store.ts
  packages/super-editor/src/document-api-adapters/plan-engine/comments-wrappers.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/comments-wrappers.ts
Due: typecheck, format, lint, docs-check-imports, docs-test-examples, docapi-overview-sync

fix(comments): cross-page collision avoidance for floating comment bubbles (SD-1998) (#2180)
  packages/superdoc/src/components/CommentsLayer/CommentDialog.vue
  packages/superdoc/src/components/CommentsLayer/FloatingComments.vue
Due: typecheck, format

fix(document-api): plan-engine reliability fixes and error diagnostics (#2185)
  apps/cli/.gitignore
  apps/cli/src/__tests__/lib/error-mapping.test.ts
  apps/cli/src/lib/error-mapping.ts
  apps/cli/src/lib/errors.ts
  apps/docs/document-api/reference/_generated-manifest.json
  apps/docs/document-api/reference/mutations/apply.mdx
  apps/docs/document-api/reference/mutations/preview.mdx
  packages/document-api/src/contract/metadata-types.ts
  packages/document-api/src/contract/operation-definitions.ts
  packages/document-api/src/types/receipt.ts
  packages/super-editor/src/document-api-adapters/__conformance__/contract-conformance.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/compiler-ref-targeting.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/compiler.ts
  packages/super-editor/src/document-api-adapters/plan-engine/create-insertion.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/create-insertion.ts
  packages/super-editor/src/document-api-adapters/plan-engine/create-wrappers.ts
  packages/super-editor/src/document-api-adapters/plan-engine/determinism-stress.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/executor.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/executor.ts
  packages/super-editor/src/document-api-adapters/plan-engine/plan-wrappers.ts
  packages/super-editor/src/document-api-adapters/plan-engine/preview-parity.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/preview.ts
  packages/super-editor/src/document-api-adapters/plan-engine/query-match-adapter.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/query-match-adapter.ts
  packages/super-editor/src/document-api-adapters/plan-engine/remap-length.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/revision-tracker.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/revision-tracker.ts
  packages/super-editor/src/document-api-adapters/plan-engine/style-resolver.test.ts
  packages/super-editor/src/document-api-adapters/plan-engine/style-resolver.ts
Due: typecheck, format, lint, cli-build, cli-test, docs-check-imports, docs-test-examples, docapi-overview-sync

fix(comments): undo of last tracked-change suggestion leaves orphan comment in UI
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  packages/superdoc/src/stores/comments-store.js
  packages/superdoc/src/stores/comments-store.test.js
Due: typecheck, format, lint

Path conditions:
  typecheck: any of: *.{ts,tsx,vue}
  format: any of: *.{js,jsx,ts,tsx,css,scss,json,vue}
  lint: any of: *.{js,jsx,ts,tsx}
  cli-build: any of: apps/cli/**/*.ts and ^apps/cli/
  cli-test: any of: apps/cli/**/*.ts and ^apps/cli/
  vscode-build: any of: apps/vscode-ext/**/*.{ts,js} and ^apps/vscode\-ext/
  vscode-lint: any of: apps/vscode-ext/**/*.{ts,js} and ^apps/vscode\-ext/
  docs-check-imports: any of: apps/docs/**/*.mdx and ^apps/docs/
  docs-test-examples: any of: apps/docs/**/*.mdx and ^apps/docs/
  docapi-overview-sync: any of: {packages/document-api/src/contract,packages/document-api/scripts}/**
