Repository wasimrehman05/superdoc: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, format, lint, cli-build, cli-test, vscode-build, vscode-lint, docs-check-imports, docs-test-examples

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,vue}"
      run: pnpm run type-check
    format:
      glob: "*.{js,jsx,ts,tsx,css,scss,json,vue}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    cli-build:
      root: "apps/cli/"
      glob: "apps/cli/**/*.ts"
      run: pnpm run build
    cli-test:
      root: "apps/cli/"
      glob: "apps/cli/**/*.ts"
      run: pnpm run test
    vscode-build:
      root: "apps/vscode-ext/"
      glob: "apps/vscode-ext/**/*.{ts,js}"
      run: pnpm run build
    vscode-lint:
      root: "apps/vscode-ext/"
      glob: "apps/vscode-ext/**/*.{ts,js}"
      run: pnpm run lint
    docs-check-imports:
      root: "apps/docs/"
      glob: "apps/docs/**/*.mdx"
      run: pnpm run check:imports
    docs-test-examples:
      root: "apps/docs/"
      glob: "apps/docs/**/*.mdx"
      run: pnpm run test:examples

pre-push:
  commands:
    install-deps:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

fix(ci): pass files as string to haiku triage
  .github/scripts/risk-assess.mjs
Due: none

fix(ci): add rate limit retry with backoff for haiku triage
  .github/scripts/risk-assess.mjs
Due: none

chore: add word baseline to visual reports, sidecare improvements, fix --limit
  devtools/visual-testing/README.md
  devtools/visual-testing/pnpm-lock.yaml
  devtools/visual-testing/scripts/report.ts
  devtools/word-benchmark-sidecar/README.md
  devtools/word-benchmark-sidecar/server.js
  eslint.config.mjs
  packages/superdoc/package.json
  tests/layout-snapshots/README.md
  tests/layout-snapshots/compare-layout-snapshots.mjs
Due: typecheck, format, lint

feat(visual-testing): add virtualization flag, default to off in harness
  devtools/visual-testing/AGENT.md
  devtools/visual-testing/packages/harness/README.md
  devtools/visual-testing/packages/harness/src/App.vue
  devtools/visual-testing/packages/harness/src/config-parser.test.ts
  devtools/visual-testing/packages/harness/src/config-parser.ts
  devtools/visual-testing/packages/test-helpers/src/story.ts
  devtools/visual-testing/scripts/generate-interactions.ts
  devtools/visual-testing/scripts/generate-refs.ts
  devtools/visual-testing/tests/interactions/stories/_template.ts
Due: typecheck, format, lint

chore: fix layout tests and re-add to root pnpm test
  packages/layout-engine/measuring/dom/src/index.test.ts
  packages/layout-engine/measuring/dom/src/index.ts
  packages/layout-engine/style-engine/src/cascade.test.ts
  packages/layout-engine/style-engine/src/ooxml/index.test.ts
  packages/word-layout/src/index.ts
  packages/word-layout/src/numbering-manager.ts
  vitest.config.mjs
Due: typecheck, format, lint

chore: remove bug comment posting from risk assessment workflow
  .github/scripts/risk-assess.mjs
  .github/workflows/risk-assess.yml
Due: none

chore: only run risk assessment on PR open and manual dispatch
  .github/workflows/risk-assess.yml
Due: none

fix(tracked-changes): colors should be restored when format rejected (#1970)
  packages/super-editor/src/extensions/track-changes/track-changes-extension.test.js
  packages/super-editor/src/extensions/track-changes/track-changes.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/addMarkStep.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/getLiveInlineMarksInRange.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/index.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/markSnapshotHelpers.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/markSnapshotHelpers.test.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/removeMarkStep.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/trackChangesHelpers.test.js
  tests/visual/tests/behavior/comments-tcs/reject-format-suggestion.spec.ts
Due: typecheck, format, lint

chore(visual-testing): improvements to report
  devtools/visual-testing/scripts/compare.ts
  devtools/visual-testing/scripts/report.ts
Due: typecheck, format, lint

feat: add pdf infra, migrate layers (#2078)
  examples/advanced/grading-papers-comments-annotations/package.json
  examples/advanced/grading-papers-comments-annotations/src/App.jsx
  examples/advanced/grading-papers-comments-annotations/src/style.css
  packages/superdoc/package.json
  packages/superdoc/postcss.config.mjs
  packages/superdoc/src/SuperDoc.test.js
  packages/superdoc/src/SuperDoc.vue
  packages/superdoc/src/components/CommentsLayer/CommentDialog.vue
  packages/superdoc/src/components/CommentsLayer/CommentsLayer.vue
  packages/superdoc/src/components/CommentsLayer/FloatingComments.vue
  packages/superdoc/src/components/PdfViewer/PdfViewer.vue
  packages/superdoc/src/components/PdfViewer/PdfViewerDocument.vue
  packages/superdoc/src/components/PdfViewer/PdfViewerPage.vue
  packages/superdoc/src/components/PdfViewer/pdf/pdf-adapter.js
  packages/superdoc/src/components/PdfViewer/pdf/pdf-viewer.css
  packages/superdoc/src/components/Whiteboard/WhiteboardPage.vue
  packages/superdoc/src/components/Whiteboard/use-whiteboard.js
  packages/superdoc/src/core/SuperDoc.js
  packages/superdoc/src/core/pdf/helpers/constants.js
  packages/superdoc/src/core/pdf/helpers/floor.js
  packages/superdoc/src/core/pdf/helpers/range.js
  packages/superdoc/src/core/pdf/helpers/read-file.js
  packages/superdoc/src/core/pdf/pdf-adapter.js
  packages/superdoc/src/core/types/index.js
  packages/superdoc/src/core/whiteboard/README.md
  packages/superdoc/src/core/whiteboard/Whiteboard.js
  packages/superdoc/src/core/whiteboard/WhiteboardPage.js
  packages/superdoc/src/dev/components/SuperdocDev.vue
  packages/superdoc/src/stores/comments-store.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, format, lint

chore: add update-registry command to re-sync after remote deletions
  package.json
  packages/layout-engine/painters/dom/src/clip-path-cache-invalidation.test.ts
  scripts/corpus/README.md
  scripts/corpus/pull.mjs
  scripts/corpus/shared.mjs
  scripts/corpus/update-registry.mjs
Due: typecheck, format, lint

ci: add workflow to auto-add community contributors to README
  .github/workflows/update-contributors.yml
Due: none

feat(lists): support hidden list indicators via w:vanish (#2069) (#2080)
  packages/layout-engine/contracts/src/index.ts
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/layout-engine/painters/dom/src/table/renderTableCell.ts
  packages/layout-engine/pm-adapter/src/attributes/paragraph.test.ts
  packages/layout-engine/pm-adapter/src/attributes/paragraph.ts
  packages/word-layout/src/types.ts
Due: typecheck, format, lint

fix(ci): use app token for org check and create PR instead of direct push
  .github/workflows/update-contributors.yml
Due: none

Update README to clarify server usage
  README.md
Due: none

fix(layout,converter): text box rendering and page-relative anchor positioning (SD-1331, SD-1838) (#2034)
  packages/layout-engine/layout-engine/src/index.test.ts
  packages/layout-engine/layout-engine/src/index.ts
  packages/layout-engine/layout-engine/src/paginator.ts
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/super-editor/src/core/super-converter/v3/handlers/wp/helpers/vector-shape-helpers.js
  packages/super-editor/src/core/super-converter/v3/handlers/wp/helpers/vector-shape-helpers.test.js
Due: typecheck, format, lint

chore: repack superdoc on pnpm layout:compare
  tests/layout-snapshots/compare-layout-snapshots.mjs
Due: none

fix(collaboration): memory leaks, Vue stack overflow, and Liveblocks stability (SD-1924) (#2030)
  devtools/visual-testing/pnpm-lock.yaml
  examples/collaboration/liveblocks/src/App.tsx
  examples/collaboration/liveblocks/vite.config.js
  packages/super-editor/src/core/Editor.ts
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  packages/super-editor/src/core/presentation-editor/remote-cursors/RemoteCursorAwareness.ts
  packages/super-editor/src/core/presentation-editor/remote-cursors/RemoteCursorManager.ts
  packages/super-editor/src/core/presentation-editor/tests/PresentationEditor.test.ts
  packages/super-editor/src/extensions/block-node/block-node.js
  packages/super-editor/src/extensions/collaboration/collaboration-helpers.js
  packages/super-editor/src/extensions/collaboration/collaboration.js
  packages/super-editor/src/extensions/collaboration/collaboration.test.js
  packages/super-editor/src/extensions/search/SearchIndex.js
  packages/superdoc/src/SuperDoc.test.js
  packages/superdoc/src/SuperDoc.vue
  packages/superdoc/src/core/SuperDoc.js
  pnpm-lock.yaml
  shared/common/collaboration/awareness.ts
Due: typecheck, format, lint

chore: remove pnpm layout:compare docx update prompt
  tests/layout-snapshots/compare-layout-snapshots.mjs
Due: none

fix: structured content renders correct on hover and select (#1843)
  .github/scripts/risk-assess.mjs
  demos/__tests__/smoke.spec.ts
  demos/grading-papers/app/grading/[id]/page.tsx
  demos/slack-redlining/cloud-function/server.js
  demos/vue/src/components/DocumentEditor.vue
  demos/word-addin/src/taskpane/taskpane.js
  e2e-tests/test-data/structured-content/sdt-basic.docx
  e2e-tests/tests/visuals/layout-engine.spec.js
  e2e-tests/tests/visuals/layout-engine.spec.js-snapshots/layout-engine-visuals-layout-1-structured-content-block-selection-sdt-basic-docx-1-chromium-linux.png
  e2e-tests/tests/visuals/layout-engine.spec.js-snapshots/layout-engine-visuals-layout-1-structured-content-inline-selection-sdt-basic-docx-1-chromium-linux.png
  eslint.config.mjs
  packages/layout-engine/painters/dom/src/index.test.ts
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/layout-engine/painters/dom/src/styles.ts
  packages/layout-engine/painters/dom/src/table/renderTableFragment.ts
  packages/layout-engine/painters/dom/src/utils/sdt-helpers.ts
  packages/layout-engine/painters/dom/src/utils/sdt-hover.ts
  packages/layout-engine/painters/dom/src/virtualization.test.ts
  packages/super-editor/src/assets/styles/extensions/structured-content.css
  packages/super-editor/src/components/toolbar/LinkInput.test.js
  packages/super-editor/src/components/toolbar/LinkInput.vue
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  packages/super-editor/src/core/presentation-editor/pointer-events/EditorInputManager.ts
  packages/super-editor/src/core/presentation-editor/tests/PresentationEditor.test.ts
  packages/super-editor/src/extensions/structured-content/structured-content-select-plugin.js
Due: typecheck, format, lint

chore(release): 1.14.1 [skip ci]
  packages/superdoc/CHANGELOG.md
  packages/superdoc/package.json
Due: format

fix: track changes comment text for formatting changes (#2013)
  packages/document-api/src/contract/command-catalog.ts
  packages/super-editor/src/extensions/comment/comments-helpers.js
  packages/super-editor/src/extensions/comment/comments-plugin.js
  packages/super-editor/src/extensions/comment/comments-plugin.test.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/addMarkStep.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/removeMarkStep.js
Due: typecheck, format, lint

fix: preserve selection highlight when opening toolbar dropdowns (#2097)
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  tests/visual/tests/behavior/basic-commands/sd-1905-selection-highlight-toolbar-dropdown.spec.ts
Due: typecheck, format, lint

fix: handle semicolon font fallback separators (#1991)
  shared/font-utils/index.js
  shared/font-utils/index.test.js
Due: format, lint

fix: contributor workflow auth and collaborator check
  .github/workflows/update-contributors.yml
Due: none

refactor: rename slashMenu to contextMenu (#1961)
  apps/docs/docs.json
  apps/docs/extensions/context-menu.mdx
  apps/docs/extensions/slash-menu.mdx
  apps/docs/modules/context-menu.mdx
  apps/docs/modules/overview.mdx
  apps/docs/scripts/sync-sdk-docs.js
  apps/docs/snippets/extensions/context-menu.mdx
  packages/super-editor/src/components/SuperEditor.test.js
  packages/super-editor/src/components/SuperEditor.vue
  packages/super-editor/src/components/context-menu/ContextMenu.vue
  packages/super-editor/src/components/context-menu/constants.js
  packages/super-editor/src/components/context-menu/event-flags.d.ts
  packages/super-editor/src/components/context-menu/event-flags.js
  packages/super-editor/src/components/context-menu/menuItems.js
  packages/super-editor/src/components/context-menu/tests/ContextMenu.test.js
  packages/super-editor/src/components/context-menu/tests/contextmenu-helpers.test.js
  packages/super-editor/src/components/context-menu/tests/menuItems.test.js
  packages/super-editor/src/components/context-menu/tests/testHelpers.js
  packages/super-editor/src/components/context-menu/tests/utils.test.js
  packages/super-editor/src/components/context-menu/utils.js
  packages/super-editor/src/components/link-click/README.md
  packages/super-editor/src/components/slash-menu/event-flags.d.ts
  packages/super-editor/src/components/slash-menu/event-flags.js
  packages/super-editor/src/core/InputRule.js
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  packages/super-editor/src/core/presentation-editor/input/PresentationInputBridge.ts
  packages/super-editor/src/core/presentation-editor/tests/PresentationInputBridge.test.ts
  packages/super-editor/src/extensions/context-menu/context-menu.js
  packages/super-editor/src/extensions/context-menu/context-menu.test.js
  packages/super-editor/src/extensions/context-menu/index.js
  packages/super-editor/src/extensions/index.js
  packages/super-editor/src/extensions/slash-menu/index.js
  packages/super-editor/src/index.d.ts
  packages/super-editor/src/index.js
  packages/superdoc/src/SuperDoc.vue
  packages/superdoc/src/core/types/index.js
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

docs: add deprecation notice for modules.slashMenu config
  apps/docs/core/superdoc/configuration.mdx
Due: docs-check-imports, docs-test-examples

IT-260 - fix: sync presentationEditor with hidden host (#1856)
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  packages/super-editor/src/core/presentation-editor/dom/DecorationBridge.test.ts
  packages/super-editor/src/core/presentation-editor/dom/DecorationBridge.ts
  packages/super-editor/src/core/presentation-editor/tests/PresentationEditor.decorationSync.test.ts
Due: typecheck, format, lint

fix(export): prevent DOCX corruption from entity encoding and orphaned delInstrText (SD-1943) (#2102)
  packages/super-editor/src/core/super-converter/exporter.js
  packages/super-editor/src/core/super-converter/relationship-helpers.js
  packages/super-editor/src/core/super-converter/relationship-helpers.test.js
  packages/super-editor/src/tests/export/docxExporter.test.js
Due: format, lint

fix(tables): fix autofit column scaling, cell width overflow, and page break splitting (#1987)
  devtools/visual-testing/pnpm-lock.yaml
  devtools/visual-testing/tests/interactions/stories/tables/autofit-table-docx-rendering.ts
  devtools/visual-testing/tests/interactions/stories/tables/autofit-table-fill-width.ts
  devtools/visual-testing/tests/interactions/stories/tables/percent-width-table-overflow.ts
  packages/layout-engine/contracts/src/index.ts
  packages/layout-engine/layout-bridge/src/incrementalLayout.ts
  packages/layout-engine/layout-bridge/test/resolveMeasurementConstraints.test.ts
  packages/layout-engine/layout-engine/src/layout-table.test.ts
  packages/layout-engine/layout-engine/src/layout-table.ts
  packages/layout-engine/measuring/dom/src/index.test.ts
  packages/layout-engine/measuring/dom/src/index.ts
  packages/layout-engine/painters/dom/src/table/renderTableCell.test.ts
  packages/layout-engine/painters/dom/src/table/renderTableCell.ts
  packages/layout-engine/painters/dom/src/table/renderTableFragment.test.ts
  packages/layout-engine/painters/dom/src/table/renderTableFragment.ts
  packages/layout-engine/painters/dom/src/table/renderTableRow.ts
  packages/layout-engine/pm-adapter/src/converters/table.test.ts
  packages/layout-engine/pm-adapter/src/converters/table.ts
  packages/super-editor/src/core/super-converter/v3/handlers/w/tc/helpers/legacy-handle-table-cell-node.js
  packages/super-editor/src/tests/data/pci-table.docx
  packages/super-editor/src/tests/data/table-autofit-colspan.docx
  packages/super-editor/src/tests/data/table.docx
  packages/super-editor/src/tests/regression/table-autofit-colspan.test.js
  tests/visual/tests/rendering/table-fixes.spec.ts
Due: typecheck, format, lint

fix(layout-bridge): correct cell selection for tables with rowspan (#1839)
  packages/layout-engine/layout-bridge/src/index.ts
  packages/layout-engine/layout-bridge/test/clickToPosition.test.ts
  packages/layout-engine/layout-bridge/test/mock-data.ts
  packages/super-editor/src/core/presentation-editor/tests/TableSelectionUtilities.test.ts
Due: typecheck, format, lint

fix(layout): route list text-start calculations through resolveListTextStartPx
  packages/layout-engine/layout-bridge/src/list-indent-utils.ts
  packages/layout-engine/layout-bridge/src/remeasure.ts
  packages/layout-engine/layout-bridge/test/clickToPosition.test.ts
  packages/layout-engine/layout-bridge/test/dom-mapping.test.ts
  packages/layout-engine/layout-bridge/test/list-indent-utils.test.ts
  packages/layout-engine/layout-bridge/test/mock-data.ts
  packages/layout-engine/layout-bridge/test/remeasure.test.ts
  packages/layout-engine/measuring/dom/src/index.test.ts
  packages/layout-engine/measuring/dom/src/index.ts
  packages/layout-engine/painters/dom/src/renderer-dispatch.test.ts
  packages/layout-engine/painters/dom/src/renderer-known-divergences.test.ts
  packages/layout-engine/painters/dom/src/renderer-parity-contracts.test.ts
  packages/layout-engine/painters/dom/src/test-utils/normalize-line.ts
  packages/layout-engine/tests/src/architecture-boundaries.test.ts
  shared/common/list-marker-utils.test.ts
  shared/common/list-marker-utils.ts
Due: typecheck, format, lint

chore: update pdf docs
  apps/docs/core/superdoc/configuration.mdx
  apps/docs/getting-started/frameworks/react.mdx
  apps/docs/modules/whiteboard.mdx
  packages/superdoc/src/components/Whiteboard/WhiteboardPage.vue
Due: typecheck, format, docs-check-imports, docs-test-examples

chore: add disablePiniaDevtools option with tests, React override docs, comments-store null safety
  apps/docs/getting-started/frameworks/react.mdx
  apps/docs/getting-started/quickstart.mdx
  packages/react/README.md
  packages/superdoc/src/core/SuperDoc.js
  packages/superdoc/src/core/SuperDoc.test.js
  packages/superdoc/src/core/create-app.js
  packages/superdoc/src/core/create-app.test.js
  packages/superdoc/src/core/types/index.js
  packages/superdoc/src/stores/comments-store.js
  packages/superdoc/src/stores/comments-store.test.js
Due: format, lint, docs-check-imports, docs-test-examples

fix(super-editor): add unsupported-content reporting across HTML/Markdown import paths (#2115)
  apps/docs/core/superdoc/configuration.mdx
  apps/docs/core/supereditor/configuration.mdx
  apps/docs/core/supereditor/methods.mdx
  packages/super-editor/src/core/Editor.api-contracts.test.js
  packages/super-editor/src/core/Editor.ts
  packages/super-editor/src/core/commands/insertContent.js
  packages/super-editor/src/core/helpers/catchAllSchema.js
  packages/super-editor/src/core/helpers/catchAllSchema.test.js
  packages/super-editor/src/core/helpers/contentProcessor.js
  packages/super-editor/src/core/helpers/importHtml.js
  packages/super-editor/src/core/types/EditorConfig.ts
  packages/super-editor/src/index.d.ts
  packages/superdoc/src/core/types/index.js
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

fix(ai-actions): preserve html/markdown insertion and prevent repeated formatted replacement (#2117)
  packages/ai/src/ai-actions/__tests__/editor/editor-adapter.test.ts
  packages/ai/src/ai-actions/__tests__/services/ai-actions-service.test.ts
  packages/ai/src/ai-actions/editor/editor-adapter.ts
  packages/ai/src/ai-actions/index.ts
  packages/ai/src/ai-actions/services/ai-actions-service.ts
  packages/ai/src/ai-actions/tools/builtin/content-tools.ts
  packages/ai/src/ai-actions/tools/builtin/replace-tools.ts
  packages/ai/src/ai-actions/tools/types.ts
  packages/ai/src/shared/types.ts
  packages/super-editor/src/tests/insertContent-links.test.js
Due: typecheck, format, lint

feat: add telemetry and license key support to SuperDocESign component (#2120)
  apps/docs/solutions/esign/api-reference.mdx
  apps/docs/solutions/esign/configuration.mdx
  packages/esign/demo/src/App.tsx
  packages/esign/src/index.tsx
  packages/esign/src/types.ts
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

feat: add telemetry and license key configuration options [template builder] (#2119)
  apps/docs/solutions/template-builder/api-reference.mdx
  apps/docs/solutions/template-builder/configuration.mdx
  packages/template-builder/README.md
  packages/template-builder/demo/src/App.tsx
  packages/template-builder/src/index.tsx
  packages/template-builder/src/types.ts
Due: typecheck, format, lint, docs-check-imports, docs-test-examples
