Repository wasimrehman05/superdoc: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, cli-build, cli-test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      run: pnpm run type-check
    format:
      glob: "*.{js,jsx,ts,tsx,css,scss,json,vue}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    cli-build:
      root: "apps/cli/"
      glob: "apps/cli/**/*.ts"
      run: pnpm run build
    cli-test:
      root: "apps/cli/"
      glob: "apps/cli/**/*.ts"
      run: pnpm run test

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

feat(cli): add claude code skill (#1903)
  apps/cli/README.md
  apps/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skills/superdoc/SKILL.md
Due: format

test: cross-paragraph and multi-range
  apps/cli/src/__tests__/cross-paragraph.test.ts
  apps/cli/src/__tests__/multi-range.test.ts
Due: format, lint, cli-build, cli-test

fix(cli): remove bundled deps from package.json
  apps/cli/package.json
  pnpm-lock.yaml
Due: format

chore(cli): 0.1.0 [skip ci]
  apps/cli/package.json
Due: format

chore: fix types build
  packages/layout-engine/contracts/package.json
Due: format

chore: fix lefthook breaking e2e (#1917)
  package.json
Due: format

feat(template-builder): add cspNonce support (#1911)
  packages/superdoc/src/core/types/index.js
  packages/template-builder/src/index.tsx
  packages/template-builder/src/types.ts
Due: format, lint

ci: split release workflows
  .github/workflows/release-cli.yml
  .github/workflows/release-esign.yml
  .github/workflows/release-superdoc.yml
  .github/workflows/release-template-builder.yml
  .github/workflows/release.yml
Due: none

chore(template-builder): 1.1.0 [skip ci]
  packages/template-builder/package.json
Due: format

fix(template-builder): add jsdoc comment
  packages/template-builder/src/types.ts
Due: format, lint

fix(esign): add jsdoc comment
  packages/esign/src/types.ts
Due: format, lint

ci: skipping e2e tests
  .github/workflows/ci-superdoc.yml
Due: none

ci: fix add LINEAR_TOKEN to release workflows
  .github/workflows/release-cli.yml
  .github/workflows/release-esign.yml
  .github/workflows/release-template-builder.yml
Due: none

ci(vscode): add dispatch
  .github/workflows/release-vscode-ext.yml
Due: none

fix(vscode): remove prerelease
  apps/vscode-ext/.releaserc.cjs
Due: none

ci: add vscode-ext release workflow
  .github/workflows/release-vscode-ext.yml
Due: none

ci(spec-review): run on pr open
  .github/workflows/spec-review.yml
Due: none

fix(vscode): semantic release deploy
  .github/workflows/release-vscode-ext.yml
  apps/vscode-ext/package.json
  package.json
  pnpm-workspace.yaml
Due: format

fix(vscode): release
  .github/workflows/release-vscode-ext.yml
  apps/vscode-ext/.releaserc.cjs
  apps/vscode-ext/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix: lock file
  pnpm-lock.yaml
Due: none

chore(vscode): 1.0.0 [skip ci]
  apps/vscode-ext/package.json
Due: format

fix: context menu clicks would change selection position (#1889)
  packages/super-editor/src/components/SuperEditor.vue
Due: format

fix: sync esign with recent version updates (#1943)
  packages/esign/demo/src/App.tsx
  packages/esign/eslint.config.js
  packages/esign/src/__tests__/SuperDocESign.test.tsx
  packages/esign/src/index.tsx
  packages/esign/src/test/setup.ts
  packages/esign/src/types.ts
  packages/esign/vite.config.ts
Due: format, lint

chore: visual test improvements and fixes (#1947)
  devtools/visual-testing/.gitignore
  devtools/visual-testing/README.md
  devtools/visual-testing/package.json
  devtools/visual-testing/packages/harness/package.json
  devtools/visual-testing/scripts/compare-all.ts
  devtools/visual-testing/scripts/compare-interactions.ts
  devtools/visual-testing/scripts/compare.ts
  devtools/visual-testing/scripts/get-corpus.ts
  devtools/visual-testing/scripts/harness-utils.ts
  devtools/visual-testing/scripts/r2-baselines.ts
  devtools/visual-testing/scripts/set-superdoc-version.ts
  devtools/visual-testing/scripts/upload-corpus-doc.ts
  devtools/visual-testing/scripts/upload-corpus.ts
  devtools/visual-testing/scripts/workspace-utils.test.ts
  devtools/visual-testing/scripts/workspace-utils.ts
  devtools/visual-testing/tests/interactions/stories/comments-tcs/edit-comment-text.ts
  pnpm-lock.yaml
Due: format, lint

chore: log url param options in visual test harness
  devtools/visual-testing/packages/harness/src/App.vue
  devtools/visual-testing/packages/harness/src/config-parser.ts
Due: format, lint

chore: update AGENT.md in visual testing, add get-docx command
  devtools/visual-testing/AGENT.md
  devtools/visual-testing/README.md
  devtools/visual-testing/package.json
  devtools/visual-testing/scripts/get-docx.ts
Due: format, lint

chore: tweaks to visual testing
  devtools/visual-testing/AGENT.md
  devtools/visual-testing/scripts/report.ts
Due: format, lint

chore: fix set-superdoc-version
  .github/workflows/baseline-superdoc.yml
Due: none

chore: separate devtools from main package
  .github/workflows/baseline-superdoc.yml
  devtools/visual-testing/README.md
  devtools/visual-testing/packages/harness/package.json
  devtools/visual-testing/pnpm-lock.yaml
  devtools/visual-testing/pnpm-workspace.yaml
  devtools/visual-testing/scripts/set-superdoc-version.test.ts
  devtools/visual-testing/scripts/set-superdoc-version.ts
  devtools/visual-testing/scripts/workspace-utils.test.ts
  devtools/visual-testing/scripts/workspace-utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

chore: add logs to baselines
  devtools/visual-testing/scripts/r2-baselines.ts
Due: format, lint

chore: more baselines logging
  devtools/visual-testing/scripts/r2-baselines.ts
Due: format, lint

feat: (esign) introduce viewOptions for document layout and deprecate layoutMode and layoutMargins (#1957)
  apps/docs/solutions/esign/api-reference.mdx
  apps/docs/solutions/esign/configuration.mdx
  packages/esign/demo/src/App.tsx
  packages/esign/package.json
  packages/esign/src/__tests__/SuperDocESign.test.tsx
  packages/esign/src/index.tsx
  packages/esign/src/test/setup.ts
  packages/esign/src/types.ts
Due: format, lint

chore: make baselines manually triggered only
  .github/workflows/baseline-superdoc.yml
Due: none

fix: headless yjs (#1913)
  packages/super-editor/src/extensions/collaboration/collaboration-headless.integration.test.js
  packages/super-editor/src/extensions/collaboration/collaboration.js
  packages/super-editor/src/extensions/collaboration/collaboration.test.js
Due: format, lint

fix: cursor drift during vertical arrow navigation (SD-1689) (#1918)
  packages/super-editor/package.json
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  packages/super-editor/src/core/presentation-editor/dom/CoordinateTransform.ts
  packages/super-editor/src/core/presentation-editor/dom/DomPositionIndex.ts
  packages/super-editor/src/core/presentation-editor/dom/DomSelectionGeometry.ts
  packages/super-editor/src/core/presentation-editor/dom/PointerNormalization.test.ts
  packages/super-editor/src/core/presentation-editor/dom/PointerNormalization.ts
  packages/super-editor/src/core/presentation-editor/selection/CaretGeometry.ts
  packages/super-editor/src/core/presentation-editor/tests/CoordinateTransform.test.ts
  packages/super-editor/src/core/presentation-editor/tests/DomPositionIndex.test.ts
  packages/super-editor/src/core/presentation-editor/tests/DomSelectionGeometry.test.ts
  packages/super-editor/src/core/presentation-editor/utils/AnchorNavigation.ts
  packages/super-editor/src/extensions/index.js
  packages/super-editor/src/extensions/vertical-navigation/index.js
  packages/super-editor/src/extensions/vertical-navigation/vertical-navigation.js
  packages/super-editor/src/extensions/vertical-navigation/vertical-navigation.test.js
  pnpm-lock.yaml
Due: format, lint

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: pre-push pnpm i for lock file
  lefthook.yml
Due: none

chore(release): 1.11.0 [skip ci]
  packages/superdoc/CHANGELOG.md
  packages/superdoc/package.json
Due: format

fix: mount Vue on wrapper element to prevent host framework conflicts (SD-1832) (#1971)
  .prettierignore
  apps/docs/getting-started/frameworks/react.mdx
  eslint.config.mjs
  packages/ai/src/index.ts
  packages/esign/demo/server/server.js
  packages/esign/demo/src/App.css
  packages/esign/demo/src/CustomSignature.tsx
  packages/esign/demo/src/index.css
  packages/esign/demo/src/main.tsx
  packages/esign/src/defaults/CheckboxInput.tsx
  packages/esign/src/defaults/DownloadButton.tsx
  packages/esign/src/defaults/SignatureInput.tsx
  packages/esign/src/defaults/SubmitButton.tsx
  packages/esign/tsconfig.json
  packages/layout-engine/pm-adapter/src/cache.test.ts
  packages/super-editor/src/core/super-converter/v2/importer/footnoteReferenceImporter.js
  packages/super-editor/src/core/super-converter/v3/handlers/w/footnoteReference/attributes/w-id.js
  packages/super-editor/src/extensions/footnote/index.js
  packages/superdoc/src/core/SuperDoc.js
  packages/superdoc/src/core/SuperDoc.test.js
Due: format, lint
