Repository wasimrehman05/superdoc: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, format, lint, cli-build, cli-test, vscode-build, vscode-lint, docs-check-imports, docs-test-examples

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx,vue}"
      run: pnpm run type-check
    format:
      glob: "*.{js,jsx,ts,tsx,css,scss,json,vue}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    cli-build:
      root: "apps/cli/"
      glob: "apps/cli/**/*.ts"
      run: pnpm run build
    cli-test:
      root: "apps/cli/"
      glob: "apps/cli/**/*.ts"
      run: pnpm run test
    vscode-build:
      root: "apps/vscode-ext/"
      glob: "apps/vscode-ext/**/*.{ts,js}"
      run: pnpm run build
    vscode-lint:
      root: "apps/vscode-ext/"
      glob: "apps/vscode-ext/**/*.{ts,js}"
      run: pnpm run lint
    docs-check-imports:
      root: "apps/docs/"
      glob: "apps/docs/**/*.mdx"
      run: pnpm run check:imports
    docs-test-examples:
      root: "apps/docs/"
      glob: "apps/docs/**/*.mdx"
      run: pnpm run test:examples

pre-push:
  commands:
    install-deps:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

fix: zIndex updates (#1973)
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/layout-engine/painters/dom/src/styles.ts
Due: typecheck, format, lint

fix: trigger patch release
  packages/superdoc/src/index.js
Due: format, lint

docs(ai): update claude md
  CLAUDE.md
  packages/layout-engine/CLAUDE.md
  packages/super-editor/CLAUDE.md
Due: none

ci(superdoc): fix commit filter
  packages/superdoc/.releaserc.cjs
  scripts/superdoc-commit-filter.cjs
Due: none

fix: return null instead of blank num definition when not found (#1990)
  packages/super-editor/src/core/helpers/list-numbering-helpers.js
  packages/super-editor/src/core/helpers/list-numbering-helpers.test.js
Due: format, lint

chore: add dev/ to ignore
  .gitignore
Due: none

bug: superdoc webpage misrendered text (SD-1819) (#1988)
  e2e-tests/test-data/basic-documents/sdpr.docx
  packages/super-editor/src/core/Editor.ts
  packages/super-editor/src/core/super-converter/exporter.js
  packages/super-editor/src/tests/data/sdpr.docx
  packages/super-editor/src/tests/export/docxExporter.test.js
Due: typecheck, format, lint

feat(super-editor): add w:lock support for StructuredContent nodes (SD-1616) (#1939)
  devtools/visual-testing/tests/interactions/stories/structured-content/sdt-lock-modes.ts
  packages/layout-engine/contracts/src/index.ts
  packages/layout-engine/painters/dom/src/constants.ts
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/layout-engine/painters/dom/src/styles.ts
  packages/layout-engine/painters/dom/src/utils/sdt-helpers.ts
  packages/layout-engine/painters/dom/src/utils/sdt-hover.ts
  packages/layout-engine/pm-adapter/src/converters/inline-converters/tab.ts
  packages/layout-engine/style-engine/src/index.ts
  packages/super-editor/src/core/super-converter/v3/handlers/w/sdt/helpers/handle-structured-content-node.js
  packages/super-editor/src/core/super-converter/v3/handlers/w/sdt/helpers/handle-structured-content-node.test.js
  packages/super-editor/src/core/super-converter/v3/handlers/w/sdt/helpers/translate-structured-content.js
  packages/super-editor/src/core/super-converter/v3/handlers/w/sdt/helpers/translate-structured-content.test.js
  packages/super-editor/src/extensions/structured-content/StructuredContentBlockView.js
  packages/super-editor/src/extensions/structured-content/StructuredContentInlineView.js
  packages/super-editor/src/extensions/structured-content/StructuredContentViewBase.js
  packages/super-editor/src/extensions/structured-content/structured-content-block.js
  packages/super-editor/src/extensions/structured-content/structured-content-lock-plugin.js
  packages/super-editor/src/extensions/structured-content/structured-content-lock-plugin.test.js
  packages/super-editor/src/extensions/structured-content/structured-content-select-plugin.js
  packages/super-editor/src/extensions/structured-content/structured-content.js
  packages/super-editor/src/extensions/types/node-attributes.ts
Due: typecheck, format, lint

ci: add validate job to demos and examples workflows for branch protection
  .github/workflows/ci-demos.yml
  .github/workflows/ci-examples.yml
Due: none

perf(build): remove redundant steps and add fast dev build (SD-1886) (#1999)
  package.json
  packages/superdoc/package.json
  packages/superdoc/vite.config.js
Due: format, lint

feat(visual): replace shared R2 credentials with wrangler login for local dev
  tests/visual/.env.example
  tests/visual/scripts/download-baselines.ts
  tests/visual/scripts/download-test-docs.ts
  tests/visual/scripts/r2.ts
  tests/visual/scripts/upload-baselines.ts
  tests/visual/scripts/upload-test-doc.ts
Due: typecheck, format, lint

docs(visual): update local setup to use wrangler login
  tests/visual/README.md
Due: none

feat: disable telemetry in visual testing harness configuration (#2009)
  tests/visual/harness/main.ts
Due: typecheck, format, lint

chore(release): 1.12.0 [skip ci]
  packages/superdoc/CHANGELOG.md
  packages/superdoc/package.json
Due: format

feat: enabled telemetry by default and added documentation (#2001)
  apps/docs/docs.json
  apps/docs/resources/telemetry.mdx
  apps/docs/snippets/components/doc-counter.jsx
  demos/__tests__/smoke.spec.ts
  devtools/visual-testing/packages/harness/src/App.vue
  devtools/visual-testing/packages/test-helpers/src/navigation.ts
  devtools/visual-testing/scripts/generate-refs.ts
  e2e-tests/tests/helpers.js
  examples/__tests__/smoke.spec.ts
  examples/advanced/grading-papers-comments-annotations/src/App.jsx
  packages/super-editor/src/core/Editor.ts
  packages/superdoc/src/core/SuperDoc.js
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: typecheck, format, lint, docs-check-imports, docs-test-examples

fix(visual-testing): stabilize screenshot and line click helpers
  tests/visual/tests/fixtures/superdoc.ts
Due: typecheck, format, lint

chore: fix memory profile flaky test
  .github/workflows/ci-superdoc.yml
  packages/layout-engine/tests/README.md
  packages/layout-engine/tests/package.json
  packages/layout-engine/tests/src/memory-profile.test.ts
Due: typecheck, format, lint

chore: bump semantic-release-linear-app to 0.7.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(react): use semantic-release-pnpm to resolve workspace deps on publish (SD-1908) (#2023)
  packages/react/.releaserc.cjs
Due: none

fix(react): use pnpm publish for workspace dependency resolution (SD-1908) (#2024)
  packages/react/.releaserc.cjs
  scripts/publish-react.cjs
Due: none

docs: add quickstart page and streamline getting started nav
  apps/docs/api-reference/introduction.mdx
  apps/docs/docs.json
  apps/docs/getting-started/quickstart.mdx
Due: format, docs-check-imports, docs-test-examples

fix: slash menu invisible in presentation mode (#2018)
  packages/super-editor/src/core/Editor.ts
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
  packages/super-editor/src/extensions/slash-menu/slash-menu.js
  packages/super-editor/src/extensions/slash-menu/slash-menu.test.js
Due: typecheck, format, lint

chore: add more tests for slash menu in presentation mode fix
  packages/super-editor/src/components/SuperEditor.test.js
  packages/super-editor/src/components/slash-menu/tests/menuItems.test.js
  packages/superdoc/src/SuperDoc.test.js
  packages/superdoc/src/core/SuperDoc.test.js
Due: format, lint

fix(build): add node polyfills to UMD bundle and angular to CI matrix
  .github/workflows/ci-examples.yml
  apps/docs/getting-started/quickstart.mdx
  packages/superdoc/vite.config.umd.js
Due: format, lint, docs-check-imports, docs-test-examples

fix: replace Node.js Buffer APIs with browser-native alternatives (#2028)
  packages/super-editor/src/core/DocxZipper.js
  packages/super-editor/src/core/DocxZipper.test.js
  packages/super-editor/src/core/super-converter/SuperConverter.js
  packages/super-editor/src/core/super-converter/SuperConverter.test.js
  packages/super-editor/src/core/super-converter/helpers.js
  packages/super-editor/src/core/super-converter/helpers.test.js
  packages/super-editor/src/core/super-converter/v3/handlers/wp/helpers/metafile-converter.js
  packages/superdoc/vite.config.umd.js
Due: format, lint

fix(build): remove dead vite-plugin-node-polyfills from UMD externals
  packages/superdoc/vite.config.umd.js
Due: format, lint

fix(ci): don't cancel other examples when one fails
  .github/workflows/ci-examples.yml
Due: none

fix: don't install Playwright browsers on every pnpm install
  tests/visual/package.json
Due: format

fix(converter): handle empty rPrChange run properties without dropping tracked-style runs
  lefthook.yml
  packages/super-editor/src/core/super-converter/styles.js
  packages/super-editor/src/core/super-converter/styles.test.js
  packages/super-editor/src/core/super-converter/v2/importer/markImporter.js
  packages/super-editor/src/core/super-converter/v2/importer/markImporter.test.js
Due: format, lint

chore: replace Dependabot with Renovate
  .github/dependabot.yml
  renovate.json5
Due: none

ci: add automatic PR risk-level labeling (SD-1925) (#2039)
  .github/scripts/risk-label.mjs
  .github/scripts/risk-label.test.mjs
  .github/workflows/risk-label.yml
Due: none

fix(ci): promote shared/ and superdoc/src/ to sensitive risk level
  .github/scripts/risk-label.mjs
  .github/scripts/risk-label.test.mjs
Due: none

chore: consolidate tsup and dotenv into pnpm catalog
  e2e-tests/templates/vue/package.json
  packages/ai/package.json
  packages/collaboration-yjs/package.json
  packages/esign/demo/server/package.json
  packages/layout-engine/layout-bridge/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/visual/package.json
Due: format

chore(docs): update SuperDoc screenshot
  README.md
Due: none

ci: add workflow_dispatch trigger to risk assessment
  .github/workflows/risk-assess.yml
Due: none

fix(ci): strengthen haiku prompt and add retry on JSON parse failure
  .github/scripts/risk-assess.mjs
Due: none
